/* background.css */
body {
    background-image: url('../templates/assets/index_background.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: white;
}