.header-wrapper {
    text-align: left;
    margin: 2rem auto;
    padding-left: 20%; 
}

.header-title {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
}

.header-subtitle {
    font-size: 1.4rem; 
    color: #666;
}

.event-card {
    background: #f0f8ff;
    border-radius: 10px;
    padding: 2.5rem;
    min-width: 500px; 
    max-width: 60%;
    min-height: 800px;
    max-height: 50%;
    margin: 3rem auto; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
    display: flex;
    gap: 2rem; 
    align-items: center;
}

.event-image-wrapper {
    flex: 1;
    max-width: 180px; 
}

.event-image {
    width: 100%;
    height: auto;
    border-radius: 8px; 
}

.event-details {
    flex: 2;
}

.event-details h2 {
    font-size: 3rem; 
    color: #0073e6;
    margin-bottom: 0.7rem;
}

.event-details p {
    font-size: 1.2rem;
    color: #444;
    margin-bottom: 1.2rem;
}

.event-meta {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    color: #555;
}

.event-meta span {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
