<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stadt</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/user.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">MUCI.</div>
            <div class="burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav id="nav-menu">
                <ul class="nav-links">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="events.html">Events</a></li>
                    <li><a href="user.html">Erstelle Events</a></li>
                    <li><a href="social.html">Sozial</a></li>
                    <li><a href="city.html">Stadt</a></li>
                    <li class="highlight"><a href="login.html">Anmelden</a></li>
                    <li class="highlight"><a href="register.html">Registrieren</a></li>
                    <li><a href="logout.html">Abmelden</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="organizer-section">
            <h1>Hallo, München</h1>
            <div class="tile-container">
                <div class="tile-row">
                    <button class="tile">Event Erstellen</button>
                    <button class="tile">Organisation verwalten</button>
                    <button class="tile">Website Statistiken</button>
                </div>
                <div class="tile-row">
                    <button class="tile">Event Kalender</button>
                    <button class="tile">Finanzen</button>
                    <button class="tile">MUCI Support Anfragen</button>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p class="logo">MUCI.</p>
            <ul class="footer-links">
                <li><a href="impressum.html">Impressum</a></li>
                <li><a href="#">Datenschutz</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
            <div class="social-links">
                <a href="#">Instagram</a>
                <a href="#">Facebook</a>
                <a href="#">X</a>
            </div>
        </div>
    </footer>
    <script src="../static/index.js"></script>
</body>
</html>