<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrierung</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/register.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">MUCI.</div>

            <div class="burger">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <nav id="nav-menu">
                <ul class="nav-links">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="events.html">Events</a></li>
                    <li><a href="user.html">Erstelle Events</a></li>
                    <li><a href="social.html">Sozial</a></li>
                    <li><a href="city.html">Stadt</a></li>
                    <li class="highlight"><a href="login.html">Anmelden</a></li>
                    <li class="highlight"><a href="register.html">Registrieren</a></li>
                    <li><a href="logout.html">Abmelden</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="login-section">
            <div class="login-container">

                <div class="text-container">
                    <h2>Seien Sie teil von MUCI</h2>
                        <p>

                        Mit einer App die Menschen weg vom Handy in’s echte Leben bringen klingt verrückt? MUCI macht es möglich. <br><br>

                    🌟 Mehr Reichweite: Bringen Sie Ihre Events zu den Menschen, die sie lieben werden.<br>
                    🌟 Neue Besucher: Gewinnen Sie neue Teilnehmer und begeistern Sie Ihr Publikum.<br>
                    🌟 Einfache Handhabung: Verwalten Sie Ihre Events spielend leicht und effizient.<br>
                    🌟 Sichtbarkeit erhöhen: Nutzen Sie unsere Tools, um Ihre Events hervorzuheben.<br>
                    🌟 Gemeinschaft fördern: Helfen Sie dabei, Einsamkeit zu bekämpfen und echte Verbindungen zu schaffen.<br><br>

                    <b>Werden Sie jetzt Teil unserer Gemeinschaft und machen Sie den Unterschied!</b>
                    </p>
                </div>

                <div class="form-container">
                    <h2>Dabei sein</h2>
                    <form action="#" method="POST">
                        <div class="form-group">
                            <label for="username">Name der Organisation</label>
                            <input type="text" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="user">Name Ansprechpartner</label>
                            <input type="text" id="user" name="user" required>
                        </div>
                        <div class="form-group">
                            <label for="email">E-Mail Ansprechpartner</label>
                            <input type="email" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="branche">Branche</label>
                            <input type="text" id="branche" name="branche" required>
                        </div>
                        <div class="form-group">
                            <label for="website">Webseite | Social Media</label>
                            <input type="text" id="website" name="website" required>
                        </div>
                        <button type="submit">Anfrage senden</button>
                    </form>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p class="logo">MUCI.</p>
            <ul class="footer-links">
                <li><a href="#">Impressum</a></li>
                <li><a href="#">Datenschutz</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
            <div class="social-links">
                <a href="#">Instagram</a>
                <a href="#">Facebook</a>
                <a href="#">X</a>
            </div>
        </div>
    </footer>
    <script src="../static/index.js"></script>
</body>
</html>
